In [ ]:
# analyse outputs

In [28]:
import pandas as pd

In [7]:
bert_base_path = './bert/base/bert-base.csv'

In [11]:
df_bert_base = pd.read_csv(bert_base_path)

In [12]:
df_bert_base

      true  prediction
0        2           2
1        2           2
2        2           2
3        0           0
4        2           2
...    ...         ...
4901     2           2
4902     2           2
4903     2           2
4904     2           2
4905     2           2

[4906 rows x 2 columns]

In [13]:
df_bert_base[df_bert_base['true'] != df_bert_base['prediction']]

      true  prediction
9        2           0
10       2           1
11       2           0
19       1           2
39       0           2
...    ...         ...
4764     1           2
4771     1           0
4772     2           0
4774     2           0
4779     1           0

[717 rows x 2 columns]

In [15]:
1- 717/4906

0.8538524256013045

In [2]:
def sick2csv(path):
    data = []
    with open(path, "r") as f:
        next(f)
        for line in f.readlines():
            a = line.split("\t")
            pair_id = int(a[0])
            ph = a[1].split(" [SEP] ")
            p = ph[0]
            h = ph[1]
            l = a[2][0]
            l = l.replace('0', 'entailment')
            l = l.replace('1', 'contradiction')
            l = l.replace('2', 'neutral')
            data.append((pair_id, p, h, l))
        columns = ('id', "premise", "hypothesis", "label")
    return pd.DataFrame(data, columns=columns)

In [11]:
def csv2gkr(df, output_path):
    sep = '[SEP]'
    tab = '\t'
    with open(output_path, "w") as f:

        for index, row in df.iterrows():
            pid = row['id']
            p = row['premise']
            h = row['hypothesis']
            l = row['label']

            l = l.replace('entailment', 'E')
            l = l.replace('contradiction', 'C')
            l = l.replace('neutral', 'N')

            sentence_ab = p + tab + h
            line = str(pid) + 'a' + tab + sentence_ab + tab + l + '\n'

            f.write(line)
    f.close()

In [12]:
path = '../dl_component/rho0/train_rho0-0-final.csv'

In [13]:
df = sick2csv(path)

In [32]:
output_path = './train.csv' 
csv2gkr(df, output_path)

In [38]:
path_base = '../dl_component/rho'
output_path_base = '../gkr4nli/data/rho'

for rho in range(0,120,20):
    r = str(rho)
    for experiment in range(5):
        e = str(experiment)

        path = path_base + r + '/train_rho' + r + '-' + e + '-final.csv'

        output_path = output_path_base + r + '/train_rho' + r + '-' + e + '.csv'

        df = sick2csv(path)

        csv2gkr(df, output_path)

In [88]:
path = '../dl_component/SICK_trial_and_train.txt'
output_path = '../gkr4nli/data/SICK_trial_and_train.txt'

# path = '../dl_component/sick_test.txt'
# output_path = '../gkr4nli/data/sick_test.txt'

# path = '../dl_component/sick_test_transform.txt'
# output_path = '../gkr4nli/data/sick_test_transform.txt'

df = sick2csv(path)

csv2gkr(df, output_path)

In [ ]:
# analyse results from gkr

In [30]:
path = '/home/adam/anu/comp4450/hy-nli/Hy-NLI/gkr4nli/data/untransformed/sick_test_with_semantic_features-all.csv'
df = pd.read_csv(path, sep='\t')

,ID,SentenceA,SentenceB,GoldLabel,ComplexCtxs,contraFlag,Veridical,Antiveridical,Averidical,Equals,Superclass,Subclass,Disjoint,GKR4NLILabel
0,6a,There is no boy playing outdoors and there is ...,A group of kids is playing in a yard and an ol...,N,1,0,1,0,0,0,0,0,0,C
1,7a,A group of boys in a yard is playing and a man...,The young boys are playing outdoors and the ma...,N,0,0,1,0,0,1,1,0,0,N
2,8a,A group of children is playing in the house an...,The young boys are playing outdoors and the ma...,N,1,0,1,0,0,1,1,0,0,C
3,10a,A brown dog is attacking another animal in fro...,A brown dog is attacking another animal in fro...,E,0,0,1,0,0,1,0,1,0,E
4,11a,A brown dog is attacking another animal in fro...,A brown dog is helping another animal in front...,N,0,0,1,0,0,1,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4837,9991a,The young girl is blowing a bubble that is huge,There is no girl in pink twirling a ribbon,N,1,0,1,1,0,0,0,1,0,N
4838,9992a,A dog in a colored coat is running across the ...,The flute is being played by one man,N,1,0,1,0,0,0,0,0,0,N
4839,9994a,A boy is happily playing the piano,A white bird is landing swiftly in the water,N,1,0,1,0,0,1,0,0,0,N
4840,9995a,"The girl, who is little, is combing her hair i...",Two people wearing helmets are driving over th...,N,1,0,1,0,0,0,0,0,0,N
4841,9996a,A man is in a parking lot and is playing tenni...,The snowboarder is leaping fearlessly over whi...,N,1,0,1,0,0,0,0,0,0,N

In [38]:
ids = df['ID']

In [31]:
len(df)

4842

In [32]:
df_correct = df[df['GoldLabel'] == df['GKR4NLILabel']]

In [33]:
len(df_correct)

3449

In [56]:
df_og = pd.read_csv('/home/adam/anu/comp4450/hy-nli/Hy-NLI/gkr4nli/data/sick_test.txt', sep='\t', names=['id','a', 'b', 'l'])
df_og

,id,a,b,l
0,6a,There is no boy playing outdoors and there is ...,A group of kids is playing in a yard and an ol...,N
1,7a,A group of boys in a yard is playing and a man...,The young boys are playing outdoors and the ma...,N
2,8a,A group of children is playing in the house an...,The young boys are playing outdoors and the ma...,N
3,10a,A brown dog is attacking another animal in fro...,A brown dog is attacking another animal in fro...,E
4,11a,A brown dog is attacking another animal in fro...,A brown dog is helping another animal in front...,N
...,...,...,...,...
4901,9991a,The young girl is blowing a bubble that is huge,There is no girl in pink twirling a ribbon,N
4902,9992a,A dog in a colored coat is running across the ...,The flute is being played by one man,N
4903,9994a,A boy is happily playing the piano,A white bird is landing swiftly in the water,N
4904,9995a,"The girl, who is little, is combing her hair i...",Two people wearing helmets are driving over th...,N
4905,9996a,A man is in a parking lot and is playing tenni...,The snowboarder is leaping fearlessly over whi...,N

In [57]:
og_id = df_og['id']

In [58]:
og_id

0          6a
1          7a
2          8a
3         10a
4         11a
        ...
4901    9991a
4902    9992a
4903    9994a
4904    9995a
4905    9996a
Name: id, Length: 4906, dtype: object

In [42]:
# og_ids = []
# for oid in og_id:
#     og_ids.append(str(oid)+'a')

In [60]:
ids = set(ids)

In [65]:
#

In [77]:
missing = []
missing_i = []
for index, value in og_id.iteritems():
    if value not in ids:
        missing.append(value)
        missing_i.append(index)

In [82]:
df_missing = df_og.iloc[missing_i]

In [83]:
df_missing

,id,a,b,l
61,111a,Two teams are competing in a football match,Football is being played by two competing teams,E
62,114a,A player is running with the ball,Football is being played by two competing teams,N
175,324a,A man is pointing at a silver sedan,A man is pointing at a car,E
177,326a,A man is pointing at a car,A man is in a parking lot and is playing tenni...,N
274,523a,A woman who is wearing a pink boa is riding a ...,Pink bellbottoms and a pink scarf aren't to be...,N
...,...,...,...,...
4790,9779a,One fish is swimming,The man is slicing bread,N
4820,9832a,A toddler is playing with a plastic scooter toy,A woman in blue has a yellow ball in the mitt,N
4884,9959a,"A dog is near a ball colored in red, which is ...",A man is playing a guitar,N
4886,9962a,One woman is peeling a potato,A yellow flower is being clung to by a bee,N
4896,9979a,A person is wearing a straw hat and smoking a ...,A dog is near the red ball in the air,N

In [84]:
def csv2gkr_m(df, output_path):
    tab = '\t'
    with open(output_path, "w") as f:

        for index, row in df.iterrows():
            pid = row['id']
            p = row['a']
            h = row['b']
            l = row['l']

            l = l.replace('entailment', 'E')
            l = l.replace('contradiction', 'C')
            l = l.replace('neutral', 'N')

            sentence_ab = p + tab + h
            line = pid + tab + sentence_ab + tab + l + '\n'

            f.write(line)
    f.close()

In [89]:
output_path = '/home/adam/anu/comp4450/hy-nli/Hy-NLI/gkr4nli/data/sick_test-missing.txt'

In [87]:
csv2gkr_m(df_missing, output_path)

In [90]:
df_missing['id']

61       111a
62       114a
175      324a
177      326a
274      523a
        ...
4790    9779a
4820    9832a
4884    9959a
4886    9962a
4896    9979a
Name: id, Length: 64, dtype: object

In [92]:
# get grk4nli results

In [96]:
df_untransform = pd.read_csv('/home/adam/anu/comp4450/hy-nli/Hy-NLI/gkr4nli/data/untransformed/sick_test_with_semantic_features-all.csv', sep='\t')

In [97]:
df_untransform

,ID,SentenceA,SentenceB,GoldLabel,ComplexCtxs,contraFlag,Veridical,Antiveridical,Averidical,Equals,Superclass,Subclass,Disjoint,GKR4NLILabel
0,6a,There is no boy playing outdoors and there is ...,A group of kids is playing in a yard and an ol...,N,1,0,1,0,0,0,0,0,0,C
1,7a,A group of boys in a yard is playing and a man...,The young boys are playing outdoors and the ma...,N,0,0,1,0,0,1,1,0,0,N
2,8a,A group of children is playing in the house an...,The young boys are playing outdoors and the ma...,N,1,0,1,0,0,1,1,0,0,C
3,10a,A brown dog is attacking another animal in fro...,A brown dog is attacking another animal in fro...,E,0,0,1,0,0,1,0,1,0,E
4,11a,A brown dog is attacking another animal in fro...,A brown dog is helping another animal in front...,N,0,0,1,0,0,1,0,0,0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4837,9991a,The young girl is blowing a bubble that is huge,There is no girl in pink twirling a ribbon,N,1,0,1,1,0,0,0,1,0,N
4838,9992a,A dog in a colored coat is running across the ...,The flute is being played by one man,N,1,0,1,0,0,0,0,0,0,N
4839,9994a,A boy is happily playing the piano,A white bird is landing swiftly in the water,N,1,0,1,0,0,1,0,0,0,N
4840,9995a,"The girl, who is little, is combing her hair i...",Two people wearing helmets are driving over th...,N,1,0,1,0,0,0,0,0,0,N
4841,9996a,A man is in a parking lot and is playing tenni...,The snowboarder is leaping fearlessly over whi...,N,1,0,1,0,0,0,0,0,0,N

In [100]:
df_untransform.columns

Index(['ID', 'SentenceA', 'SentenceB', 'GoldLabel', 'ComplexCtxs',
       'contraFlag', 'Veridical', 'Antiveridical', 'Averidical', 'Equals',
       'Superclass', 'Subclass', 'Disjoint', 'GKR4NLILabel'],
      dtype='object')

In [110]:
def gkr_results(df, output_path):
    tab = '\t'
    with open(output_path, "w") as f:

        heading = 'pair_ID' + tab + 'GoldLabel' + tab + 'complexCtxs' + tab + 'contraCost' + tab + 'VER' + tab + 'ANTIVER' + tab + 'AVER' + tab + 'EQUALS' + tab
        heading += 'SUPER' + tab +	'SUB' + tab +'DIS' + tab + 'GKR4NLILabel' + '\n'
        f.write(heading)

        cols = ['ID', 'GoldLabel', 'ComplexCtxs', 'contraFlag', 'Veridical', 'Antiveridical', 'Averidical', 'Equals', 'Superclass', 'Subclass', 'Disjoint', 'GKR4NLILabel']
        df_trim = df[cols]

        for index, row in df_trim.iterrows():
            line = ''
            for name, value in row.iteritems():
                line += str(value) + tab 

            line += '\n'

            f.write(line)
    f.close()

In [111]:
# untransform
output_path_untransform = '/home/adam/anu/comp4450/hy-nli/Hy-NLI/gkr4nli/data/untransformed/sick_test_untransform-results.csv'
gkr_results(df_untransform, output_path_untransform)

In [105]:
#

In [ ]:
# clean untransformed data in bert results - remove the rows that were mising in gkr

In [121]:
df_og = pd.read_csv('/home/adam/anu/comp4450/hy-nli/Hy-NLI/gkr4nli/data/sick_test.txt', sep='\t', names=['id','a', 'b', 'l'])
og_id = df_og['id']
missing = set()
for index, value in og_id.iteritems():
    if value not in ids:
        missing.add(value)

In [123]:
#

In [134]:
def bert_results_trim(df, missing, output_path):
    tab = '\t'
    with open(output_path, "w") as f:
        
        heading = 'pair_ID' + tab + 'BertLabel' + '\n'
        f.write(heading)

        for index, row in df.iterrows():
            pid = row['pair_ID']
            bl = row['BertLabel']

            if pid not in missing:
                line = pid + tab + str(bl) + '\n'
                f.write(line)

    f.close()

In [135]:
input_path_base = '/home/adam/anu/comp4450/hy-nli/Hy-NLI/output/bert/untransformed/results-untransformed-rho0-0.csv'
output_path_base = '/home/adam/anu/comp4450/hy-nli/Hy-NLI/output/bert/results/untransform/results-untransformed-rho0-0.csv'

In [136]:
df = pd.read_csv(input_path_base, sep='\t')

In [137]:
bert_results_trim(df, missing, output_path_base)